In [ ]:
userAge=0

In [ ]:
userAge, userName = 30, 'Peter'

In [ ]:
x=5
type(x)

int

In [ ]:
x=3.5
type(x)

float

In [ ]:
userName = 'Peter'
userSpouseName = 'Janet'
userAge= '30'

type(userName)

str

In [ ]:
userAge='30'
type(userAge)

str

In [ ]:
userAge=30
type(userAge)

int

In [ ]:
userName,userAge='Peter' , '30'
print (userName+userAge)

Peter30

In [ ]:
print ('''Hello World
.My name is James and I am 20 years old. ''')

Hello World
.My name is James and I am 20 years old.

In [ ]:
userage=[21,22,23,24,25]
print(userage)

[21, 22, 23, 24, 25]

In [ ]:
q = [3, 8, 33, 12, 9, 23, 22]
q[0]

3

In [ ]:
q = [3, 8, 33, 12, 9, 23, 22]
q[2:5]

[33, 12, 9]

In [ ]:
q = [3, 8, 33, 12, 9, 23, 22]
q[-3:]

[9, 23, 22]

In [ ]:
q = [3, 8, 33, 12, 9, 23, 22]
q[:3]

[3, 8, 33]

In [ ]:
q = [3, 8, 33, 12, 9, 23, 22]
q[2:]

[33, 12, 9, 23, 22]

In [ ]:
Lst=[x**2 for x in range(0,11)]
print (Lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
MonthsOfYear = ('Jan', 'Feb', 'Mar', 'Apr', 'May','Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
print(MonthsOfYear[6])

Jul

In [ ]:
UserNameAndAge = {'Peter':38, 'John':51,'Alex':13,'Alvin':'Not Available'}
print(UserNameAndAge)

{'Peter': 38, 'John': 51, 'Alex': 13, 'Alvin': 'Not Available'}

In [ ]:
UserNameAndAge['John']

51

In [ ]:
num_str='456'
num_str=int(num_str)
type(num_str)

int

In [ ]:
5==5 and 2>1
5 > 2 or 7 > 10 or 3 == 2

True

In [ ]:
2>5

False

In [ ]:
5>2 or 7>10 or 3==2

True

In [ ]:
not 2>5

True

In [ ]:
userInput = input('Enter 1 or 2: ')
if userInput ==1: 
    print ('Hello World')
else:
    print ('You did not enter a valid number')

Enter 1 or 2: 1
You did not enter a valid number

In [ ]:
pets = ['cats', 'dogs', 'rabbits', 'hamsters']
for myPets in pets:
    print (myPets)

cats
dogs
rabbits
hamsters

In [ ]:
message='Hello'
for i in message:
  print(i)

H
e
l
l
o

In [ ]:
range(5)

range(0, 5)

In [ ]:
range(3,10)

range(3, 10)

In [ ]:
range(4,10,2)

range(4, 10, 2)

In [ ]:
for i in range(5):
    print (i)

0
1
2
3
4

In [ ]:
counter=5
while counter>0:
  print ('counter = ', counter)
  counter=counter-1

counter =  5
counter =  4
counter =  3
counter =  2
counter =  1

In [ ]:
j = 0
for i in range(5):
    j = j + 2
    print ('i = ', i, ', j = ', j)
    if j == 6: break

i =  0 , j =  2
i =  1 , j =  4
i =  2 , j =  6

In [ ]:
def  rect_area(a, b=1.0): 
        return a*b


c=rect_area(20,2)
print(c)

40

In [ ]:
def  factorial(n): 
 f=1
 if n<=1:
   return f
 else:
  while n>0:
	       f*=n
	       n-=1
 return f